@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap+family=DM+Serif+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top {
    background-image: url(./images/blue\ backgroung.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;
    border-bottom-left-radius: 50% 100px;
    border-bottom-right-radius: 50% 100px;
}
nav {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 2rem;
    margin: 0 50px;
}
.logo {
    font-size: 20px;
    font-weight: 600;
}
 a {
    color: #ffffff;
    text-decoration-color: rgb(5, 252, 170);
}
.nav-link a:hover {
    color: rgba(141, 240, 207, 0.658);
}
.logo span {
    color: rgb(185, 182, 182);
}
header {
    width: 29%;
    text-align: center;
    font-family: 'DM Serif Display', serif;
    margin: 2% auto;
    color: #ffffff;
    font-size: 25px;
    font-weight: 300;
}
header button {
    margin-top: 20px;
    padding: 8px 10px;
    font-size: 11px;
    background-color: rgb(5, 252, 170);
    border: none;
    font-weight: 600;
}
.image {
    transform: rotateZ(80deg) scaleX(0.43);
    position: relative;
    top: -25px;
}
.sectionOne {
    background-color: #f4ecf4;
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
    font-size: 13px;
    line-height: 18px;
    border-bottom-left-radius: 50% 50px;
    border-bottom-right-radius: 50% 50px;
}
.sectionOne article {
    width: 25%;
    margin: 0 auto;
    padding: 5px;
}
.articleNo {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.sectionOne article h4 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #400440;
}

.sectionTwo {
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.sectionTwo img {
    background-color: rgb(5, 252, 170);
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(180, 128, 163);
    width: 20%;
    display: inline-block;
    position: relative;
    left: 150px;
    bottom: 200px;
}
.sectionTwo div {
    display: inline-block;
    margin: 0 10%;
    background: url(./images/blue\ backgroung.jpg)  ;
    padding: 2em;
    color: #ffffff;
    width: 35%;
    position: relative;
    bottom: 120px;
    right: 18px;
}
.sectionTwo div h2 {
    margin-bottom: 1rem;
    font-size: 30px;
    color: rgb(245, 240, 240);
}
.sectionTwo div p {
    color: gainsboro;
    line-height: 1.5;
    margin-bottom: 1rem;
}
.sectionTwo div button {
    background-color: rgb(5, 252, 170);
    border: none;
    padding: 10px;
    font-size: 11px;
}
footer {
    text-align: center;
}
.footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    color: #280228;
    font-size: 14px;
    padding: 30px 0;
}
.footer-links li {
    padding: 10px;
}
.footer-links li:hover {
    color: rgb(5, 252, 170);
}

@media (max-width: 700px) {
    .top {
        height: 300px;
        border-bottom-left-radius: 40% 60px;
        border-bottom-right-radius: 40% 60px;
        margin-bottom: 40px;
    }
    nav {
        padding: 2rem;
        margin: 0 10px;
    }
    header {
        margin: 2% auto;
        font-size: 14px;
        width: 60%;
    }
    header button {
        margin-top: 10px;
        padding: 5px 8px;
        
    }
    .image {
        width: 250px;
        
    }
    .sectionOne article {
        width: 100%;
    }
    .sectionTwo img {
        width: 60%;
        left: 0;
        bottom: 0;
    
    }
    .sectionTwo div {
        width: 100%;
        bottom: 0;
        right: 0;
        margin-bottom: 40px;
        text-align: center;
        bottom: 20px;
    }
}
